@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

// body {
//   font-family: 'Audiowide', cursive;
// }

body {
  font-family: 'Russo One', sans-serif;
  color: white
}

.big-icon {
  font-size: 50px;
  margin: 0px 25px 0px;
  color: white;
}
.big-icon:hover {
  font-size: 50px;
  margin: 0px 25px 0px;
  color: gold;
}

.home-screen{
  min-height: 95vh;
  min-width: 100vh;
}

.home-background{
  background-image: url('../images/homescreen.png');
  background-size: cover;
  min-height: inherit;
}


.home-flex{
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.home-button{
  margin: 0px 5px 0px 5px;
}


.title-section{
  padding: 1.5rem 1.5rem 0.5rem;
}

.index-screen{
  background-image: url('../images/indexbackground.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.index-screen-bar{
  background-image: url('https://images.unsplash.com/photo-1569315618680-3d673b5e1514?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.index-container-bar{
  background-color: rgba(0, 0, 0, 0.671);
  margin: 0rem 3.5rem 0.5rem;
  padding: .5rem 2rem 0.5rem;
}
.index-title-bar{
  color: rgb(253, 235, 235);
  margin-top: 4.5rem;
}
.line-break-white{
  background-color: white
}


.index-title{
  color: rgb(43, 28, 28);
  margin-top: 4.5rem;
}

.index-container{
  background-color: rgba(0, 0, 0, 0.575);
  margin: 0rem 3.5rem 0.5rem;
  padding: .5rem 2rem 0.5rem;
}

.index-screen-deals{
  background-image: url('https://i.pinimg.com/originals/36/2f/c7/362fc76e7a3a6df7cb19a8b1562d8911.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.navbar-item {
  font-family:  'Audiowide', cursive;
  text-decoration: none;
  outline: 0;
  color: #219961;
  border-bottom: solid 1px transparent;
  -webkit-transition: color 1s ease-out, border-bottom-color 1s ease-out;
     -moz-transition: color 1s ease-out, border-bottom-color 1s ease-out;
      -ms-transition: color 1s ease-out, border-bottom-color 1s ease-out;
       -o-transition: color 1s ease-out, border-bottom-color 1s ease-out;
          transition: color 1s ease-out, border-bottom-color 1s ease-out;
  &:hover {
    color: white;
    border-bottom: solid 1px white;
  }  
}

.line-break{
  background-color: black
}

.white-text{
  color: rgb(255, 255, 255)
}
.text-left{
  text-align: left;
}

.show-background{
  background-color: rgb(19, 18, 18);
  text-align: center;
}
.show-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual-comment{
  margin: 0px 0 20px 0px;
}

.image{
  border-radius: 50%;
}

.flex-deal{
  display: flex;
  flex-flow: row wrap;
}
.individual-deal{
  width: 50%;
}
.deals-section{
  display: flex;
  flex-flow: row wrap;
}
.individual-bar-deal{
  margin: 25px 0 0 0;
  width: 45%;
}

.flex-deal-events{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.review-buttons{
  color: white;
  border: none;
  background-color: transparent;
}
.review-buttons:hover{
  color: gold;
  border: none;
  background-color: transparent;
}

.delete-button{
  float: right;
}